<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/board.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>
<body>
    <div id="board">
        <div class="board__container-columns" id="board__container-columns">
            <div class="column TO DO"> 
                <div class="column-name">
                    <span>TO DO</span>
                </div>
            </div>
            <div class="column In progress"> 
                <div class="column-name">
                    <span>In progress</span>
                </div>
                
            </div>
            <div class="column Done"> 
                <div class="column-name">
                    <span>Done</span>
                </div>                
            </div>
            
           
        </div>
        <div class="board__task-editor" id="board__task-editor">
        </div>
        <span id="board-data"><%=id%></span>  <!-- НЕ УДАЛЯЙ, ИНФА ПО ДОСКЕ -->
    </div>
    

    <script src="../js/board.js"></script>
</body>
</html>