<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/board.css">
</head>
<body>
    <div id="board">
        <div id="board__container-columns">
            <div class="column"> <!-- todo -->
                <div class="column-name">
                    <span>TO DO</span>
                </div>
                <div class="column-rows">
                    <div class="column-rows_task"></div>
                </div>
            </div>
           <!--  <div class="column"> In progress
                <div class="column-name">
                    <span>TO DO</span>
                </div>
                <div class="column-rows">
                    <div class="column-rows_task"></div>
                </div>
            </div>
            <div class="column"> Done
                <div class="column-name">
                    <span>TO DO</span>
                </div>
                <div class="column-rows">
                    <div class="column-rows_task"></div>
                </div>
            </div> -->
        </div>
        <div id="board__task-editor"></div>
        <span id="board-data"> <%= id %> </span> <!-- не удаляй, это инфа с доски!!!11! -->
    </div>

    <script src="../js/board.js"></script>
</body>
</html>