<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/newtask.css">
</head>
<body>
    <div id="newtask">  <!-- Не забудь поменять коменты на нормальные, и этот удали)))) -->
        <input id="newtask__name" type="text" placeholder="Имя задачи"> <!-- имечко -->

        <textarea id="newtask__description" cols="20" rows="5" maxlength="300" placeholder="Опишите свою задачу"></textarea>

        <div id="newtask__priority">
            <label>Выберите приоретет задачи</label>
            <select>
                <option>Низкий</option> 
                <option>Средний</option>
                <option>Высокий</option>
                <!-- <option >погладить кота</option> --> <!-- что может быть важнее кота?! -->
            </select>
        </div>

        <div id="newtask__label">
            <label >Добавте метки для задачи</label>
            <input type="text" placeholder="Добавте метки">
        </div>

        <div id="newtask__worker">
            <label >Кто же тут постарался</label>
            <input type="text" placeholder="Имя работника">
        </div>

        <div id="newtask__type">
            <label>Выберите тип задачи</label>
            <select >
                <option>Дефект</option> 
                <option>Фича</option>
                <option>Что-то еще</option>
                <option>Иеще что-то</option>
            </select>
        </div>
        <div id="newtask__status">
            <label>Выберите статус</label>
            <select >
                <option>TO DO</option> 
                <option>In progress</option>
                <option>Done</option>
            </select>
        </div>
        <!-- список досок создам через ДЖЕЭС хе хе хе -->
        <input id="newtask__data-send" type="button" value="Создать">

        
    </div>

    <script src="../js/newtask.js"></script>
</body>
</html>